<% posts.each do |post|  %>
	<div  class="span-16">
		<div id="post"  class="span-17">
			<div id="post_title" class="span-10">
				<h3><b><a href="/post/<%=post.id%>"><%= post.title -%></b></a>
          <br/>
					<span id="author_info" class="alt">
            Submitted by <a href="/user/<%=post.user_id%>"> <%= post.user.preferred_name %></a>
						on <%= post.created_at.strftime("%m/%d/%Y") %>
					</span>
				</h3>
			</div>
		<div id="post_body" class="span-15">
			<p>
			"<%=post.post_body %>"
			</p>
		</div>
		<div class="span-17">
			<div class="taglist span-10">
				<ul>
					<% post.tags[0..5].each do |t| %>
            <li class="tag"><a href="/tagid/<%=t.id%>"> <%= t.tag %></a> </li>
					<% end %>
				</ul>
			</div>
			<div id="comment-count" class="span-2 alt">
				<span>
				  <%= post.comments.length %> Comments
				</span>
			</div>
		</div>
		</div>
	</div>
<% end %>
