<% posts.each do |post|  %>
	<div id="comment" class="span-17">
		<div id=comment_title" class="span-17">
			<div class="span-10">
				<h3><b><%= post.title -%></b>
					<span id="author_info" class="alt">
						Submitted by <%= post.user.preferred_name %>
						on <%= post.created_at.strftime("%m/%d/%Y") %>
					</span>
				</h3>
			</div>
		</div>
		<div id="comment_body" class="span-17">
			"<%=post.post_body %>"
		</div>
		<div class="span-7">
			<div class="taglist">
				<ul>
					<% post.tags[0..5].each do |t| %>
            <li class="tag"><a href="/tagid/<%=t.id%>"> <%= t.tag %></a> </li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% end %>
