<h3>Post: <%= @post.title %></h3>
<div  class="span-17">
		<div id="post_title" class="span-10">
			<h3><b><%= @post.title -%></b>
				<br/>
				<span id="author_info" class="alt">
					Submitted by <a href="/user/<%=@post.user_id%>"> <%= @post.user.preferred_name %></a>
					on <%= @post.created_at.strftime("%m/%d/%Y") %>
				</span>
			</h3>
		</div>
		<div id="post_body" class="span-15">
			<p>
			"<%=@post.post_body -%>"
			</p>
		</div>
		<div class="span-10">
			<div class="taglist">
				<ul>
					<% @post.tags[0..5].each do |t| %>
						<li class="tag"><a href="/tagid/<%=t.id%>"> <%= t.tag %></a> </li>
					<% end %>
				</ul>
			</div>
	<br />
	</div>
	<div class="span-15 prepend-1">
		<%= render :partial => 'comments', :locals => { :comments => @post.comments } %>
		<br />
	</div>
	<% if current_user %>
		<%= render :partial => 'newcomment', :locals => { :post_id => @post.id} %> 
	<% end %>
</div>
